* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
}

#grid-container div {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
}

#grid-container div:hover {
    background-color: #333;
}

